*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    

    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #081b29;
    color: #ededed;
}

header{
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* =================================NAVBAR===========================  */

.logo{
    font-size: 25px;
    text-decoration: none;
    color: #ededed;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    font-style: 500;
    color: #ededed;
    text-decoration: none;
    margin-left: 25px;
    transition: .3s;
}

.navbar a:hover,
.navbar a:focus{
    color: #00abf0;
}

/* ============================FIN - NAVBAR=========================  */

/* ===========================HOME - DESCRIPCION======================= */
.home{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #081b29;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size:  19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background-color: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background-color: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

/* =======================FIN - HOME - DESCRIPCION====================== */

/* ==========================HOME - SOCIAL============================== */

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

/* ==========================FIN - HOME - SOCIAL============================== */

/* ===========================Home Picture======================================= */

.home-picture{
    background-color: transparent;
    height: 400px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-picture-img{
    height:400px;
    width: 400px;
    transition: 0.4s;
}

.home-picture-img:hover{
    height: 410px;
    width: 410px;
}

.home-picture-img img{
    opacity: 80%;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.home-picture-img img:hover{
    opacity: 100%;
}